@page "{searchTarget}"
@using PhoneApplication.Models 
@model PhoneApplication.Pages.searchModel
@{
}
<div>
<h3>The Search Result from the currently saved contacts </h3>
    <table class="table mt-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        @foreach (Contact contact in Model.contacts)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.PhoneNumber</td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@contact.Id.ToString()">
                        <button type="submit" asp-page-handler="delete"
                                asp-route-id="@contact.Id.ToString()" class="btn btn-outline-danger">
                            delete
                        </button>
                    </form>
                </td>
                <td>
                    <a asp-page="/EditContact" asp-area="" asp-page-handler="@contact.Id" class="btn btn-outline-info">Edit</a>
                </td>
            </tr>
        }
    </table></div>
